access.log
*.log
temp/
#以#开头的行表示注释会被git忽略
#.gitignore文件的匹配规则
#使用标准的Blob模式匹配如：*通配任意个字符 ？匹配单个字符
#[]表示匹配列表中的单个字符，比如[abc]表示a/b/c
#**匹配任意的中间目录
#中括号可以使用短中线连接，比如：[0-9]表示任意一位数字，[a-z]表示任意一位小写字母
#!表示取反，要忽视指令模式以外的文件或目录可在模式前加上 !
